* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Young Serif", "Outfit";
    font-weight: 400, 600, 700;
    font-size: 16px;
}

.main {
        background-color: hsl(0, 0%, 100%);
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-left: 45%;
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 1.3rem;
        border-radius: 1.5rem;      
}

.con {
        background-repeat: no-repeat;
        background-color: hsl(30, 54%, 90%);
        background-size: cover;
        padding: 7rem 10rem;
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 3.2rem;
}

img {
    border-radius: 3%;
    width: 400px;
}

.text {
    font-size: small;
    font-family: "outfit";
    color:hsl(24, 5%, 18%);
}

.title {
    font-size: xx-large;
}

.prep {
    color: hsl(341, 48%, 40%);
    font-family: "outfit";
    margin-left: 3%
}

.sec1 {
    background-color: hsl(330, 100%, 98%);
}

.list1 {
    font-size: small;
    font-family: "outfit";
    color:hsl(24, 5%, 18%);
    list-style-position: inside;
    margin-left: 3%;
}

.ing {
    color: hsl(0, 100%, 25%);
    font-family: "Young Serif";
    font-size: large;
}

.list2 {
    font-size: small;
    font-family: "outfit";
    color:hsl(24, 5%, 18%);
    list-style-position: inside;
    margin-left: 3%;
}

.list3 {
    font-size: small;
    font-family: "outfit";
    color:hsl(24, 5%, 18%);
    list-style-position: inside;
    margin-left: 3%;
    
}

.list4 {
    font-size: small;
    font-family: "outfit";
    color:hsl(24, 5%, 18%);
    list-style-position: inside;
    margin-left: 3%;
    
}

.list4 ul {
    list-style-type: none;
    
}

.list4 li {
    display: inline-block;
    margin-right: 30%;
}

.figs {
    color: hsl(0, 100%, 25%);
}

@media screen and (min-width: 650px) and (max-width: 1440px) {
    body {
      font-size: 16px;
    }
  }
